.random-bird {
  display: flex;
  padding: 1rem;
  margin-bottom: 25px;
  background-color: #303030;
  .list-group {
    flex: 1;
    margin: 0 40px;
    &-item {
      border: none;
      padding: .25rem;
    }
    &-item:first-child {
      border-bottom: 1px solid #444;
    }
  }
}

.audio-player {
  margin: 10px 40px 8px 0;
  width: 100%;
  min-width: 100px;
}

audio::-webkit-media-controls-enclosure {
  background-color: transparent;
}
