$primary: #303030;
$primary-dark: #222;
$primary-light: #444;

$secondary: #008966;
$secondary-dark: #007c5d;
$secondary-light: #00bc8c;

$white: #fff;

$red: #d13447;
$yellow: #ffbf00;
$purple: #263672;
$marine: #3d858c;
